<header class="header">
  <div class="container">
    <div class="menu-icon" (click)="toggleSideMenu()">
      ☰ <!-- Puedes reemplazar esto con un ícono de FontAwesome u otra librería -->
    </div>
    <div class="logo">
      Steam Verde
    </div>
    <div class="search-bar">
      <app-search-bar (onBuscar)="buscar($event)"></app-search-bar>
    </div>
  </div>
  <app-side-menu></app-side-menu>

  <div *ngIf="juegos.length > 0" class="search-results">
    <ul>
      <li *ngFor="let juego of juegos">
        <img [src]="juego.background_image" alt="{{ juego.name }}" /> 
        <!-- Asumiendo que juego.background_image contiene la URL de la imagen del juego -->
        {{ juego.name }}
        <!-- Puedes añadir más información del juego o enlaces aquí -->
      </li>
    </ul>
  </div>
</header>
