h1 {
    color: rgb(23, 255, 73);
    font-size: 24px;
}
h2 {
    color: rgb(255, 64, 169);
    font-size: 18px;
}
p {
    color: black;
    font-size: 16px;
}
.container {
    border: 1px solid rgb(128, 8, 8);
    padding: 10px;
}
body {
    background-color: blueviolet;
}
#caja1 {
    width: 250px ;
    height: 500px ;
    background-color: aquamarine;

}
#caja2 {
    width: 250px ;
    height: 500px ;
    background-color: aquamarine;

}

