
.container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  